<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/public/assets/js/planner.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/assets/css/task_style.css">
    <title>Tasks</title>
</head>
<body>
    <div id="top">
        <h1>Task Manager</h1>
        <img src="/img/task.jpg" alt="task" id="task_img">
    </div>

    <ul>
    {{{body}}}

    </ul>

    <div id="bottom">
        <input type="textarea" id="newtask">
        <button id="submit">Submit</button>
    </div>
    
</body>
</html>