<div class="col" id="left">
	<h2>
		To do
	</h2>
	<ul>
		{{#each tasks}}
			{{#unless done}}
				{{> tasks/todo }}
			{{/unless}}
		{{/each}}
	</ul>
</div>

<div class="col" id="right">
	<h2>
		Done Activities
	</h2>
	<ul>
		{{#each tasks}}
			{{#if done}}
				{{> tasks/done }}
			{{/if}}
		{{/each}}
	</ul>
</div>




